*.nii
*.nii.gz

*.ps
*.csv
*.xlsx
*.docx
*.pptx

*.mat

*.zip
*.rar
*.7z

.vscode/
*__pycache__*
*.ipynb_checkpoints/

fd*/
DPABI*/
mask/
p56/
template/
Turone_Mouse_Brain_Template

ppt/
video/

pm2.5-offspring-mouse/

toolboxes/